{% extends ajax
? '@TigreboiteFunkylab/popin.html.twig'
: '@TigreboiteFunkylab/layout.html.twig' %}

{% block content -%}
    <div class="modal-body">
        <div class="row">
            <form method="post" action="{% if app.request.get('_route') == "admin_bloc_edit" %}{{ path('admin_bloc_update',{'id':entity.id}) }}{% else %}{{ path('admin_bloc_create') }}{% endif %}" role="form" enctype="multipart/form-data">

                {% if app.request.get('_route') == "admin_bloc_edit" %}
                    <input type="hidden" name="_method" value="PUT">
                {% endif %}

                <div class="box box-primary">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="{{ form.title.vars.id }}">Titre</label>
                            {{ form_widget(form.title, {'attr':{'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.layout.vars.id }}">Type de bloc</label>
                            {{ form_widget(form.layout, {'attr':{'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group bloc-item bloc-wysiwyg">
                            <label for="{{ form.body.vars.id }}">Contenu</label>
                            {{ form_widget(form.body, {'attr':{'class': 'form-control wysiwyg'}}) }}
                        </div>
                        <div class="form-group bloc-item bloc-file">
                            <label for="id-loader-file">Fichier</label>
                            {{ form_widget(form.file) }}
                            <div id="{{ form.file.vars.id }}-preview">
                                {% if entity.file %}
                                    <a href="/{{ entity.file }}" target="_blank">{{ entity.file }}</a>
                                {% endif %}
                            </div>
                            <input {% if entity.file is not empty %}style="display:none;"{% endif %} type="file" id="id-loader-file" data-after="{{ form.file.vars.id }}" name="file" class="file-loader-file" data-url="{{ path('admin_bloc_upload') }}" />
                            <span class="image-remove btn btn-danger btn-xs" {% if entity.file is empty %}style="display:none;"{% endif %}> <i class="fa fa-remove"></i></span>
                        </div>
                    </div>
                    {{ form_widget(form.type, {'attr':{'class': 'form-control'}}) }}
                    {{ form.actuality is defined ? form_widget(form.actuality) }}
                    {{ form.rh is defined ? form_widget(form.rh) }}
                    {{ form.advice is defined ? form_widget(form.advice) }}
                    {{ form.page is defined ? form_widget(form.page) }}
                    {{ form_widget(form.position) }}
                    {{ form_widget(form._token) }}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success btn-lg pull-left"><i class="fa fa-check"></i> Confirmer</button>
                    <button type="button" class="btn btn-default  btn-lg" data-dismiss="modal">Annuler</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block callback_popin %}

    <script type="text/javascript">
        function callBackAfterSubmit()
        {
            refreshAppList({type:block_type,id:entity_id});
        }

        $('.wysiwyg').froalaEditor({
            inlineMode: false,
            buttons: ["bold", "italic","underline", "formatBlock", "sep", "insertUnorderedList", "sep", "createLink", "insertImage", "insertVideo", "sep", "undo", "redo", "html"],
            imagesLoadURL:Routing.generate('admin_media_list')+"?dir=page",
            imageDeleteURL:Routing.generate('admin_media_delete')+"?dir=page",
            blockTags: {
                n: 'Normal',
                h2: 'Heading 2',
                h3: 'Heading 3',
                h4: 'Heading 4'
            },
            defaultImageAlignment: "left",
            defaultVideoAlignment: "left",
            imageUploadURL: Routing.generate('upload_image_wysiwyg'),
            imageUploadParams: {id: "my_editor"},
            imageDefaultWidth: "100%"
        });


        $(".file-loader-file").fileupload({
            dataType: "json",
            done: function (e, data) {
                var _div = $("#"+$(this).data("after")+"-preview");
                _div.html("");
                if(data.result.success){
                    var filename = data.result.filename;
                    var path = data.result.path;
                    _div.html('<a href="/'+path+'" target="_blank">'+path+'</a>');
                    $("#"+$(this).data("after")).val(path);
                    _div.parent().find('input[type=file]').hide();
                    _div.parent().find('.image-remove').show();
                }
            }
        });

        $('.image-remove').click(function(e)
        {
            e.preventDefault();
            $(this).hide();
            var _file = $(this).parent().find('input[type=file]');
            $("#"+_file.data("after")+"-preview").html("");
            _file.val("");
            $(this).parent().find('input[type=hidden]').val("");
            $(this).parent().find('input[type=file]').show();
        });

        var updateBlocLayout=function()
        {
            $('.bloc-item').hide();
            $('.'+$('#{{ form.layout.vars.id }}').val()).show();
        };

        $('#{{ form.layout.vars.id }}').change(function()
        {
            updateBlocLayout();
        });

        updateBlocLayout();

    </script>

{% endblock %}
