{% extends ajax
? 'TigreboiteFunkylabBundle::popin.html.twig'
: 'TigreboiteFunkylabBundle::layout.html.twig' %}

{% block content -%}

    <div class="modal-body">
        <div class="row">
            <form method="post" action="{% if app.request.get('_route') == "admin_pays_edit" %}{{ path('admin_pays_update',{'id':entity.id}) }}{% else %}{{ path('admin_pays_create') }}{% endif %}" role="form">

                {% if app.request.get('_route') == "admin_pays_edit" %}
                    <input type="hidden" name="_method" value="PUT">
                {% endif %}
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="{{ form.isenable.vars.id }}">Active</label>
                            {{ form_widget(form.isenable, {'attr':{'class': 'form-control'}}) }}
                        </div>

                        <div class="form-group">
                            <label for="liste-language">Translate in</label>
                            <select id="liste-language" name="language" class="form-control">
                                <option value="">Select language</option>
                                {% for language in languages %}
                                    <option value="{{ language.code }}">{{ language.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="block-langue block-en">
                            <div class="form-group ">
                                <label for="name_en">Name</label>
                                <input type="text" id="name_en" name="en[name]" maxlength="255" class="form-control" required="required"  value="{{ entity.name }}" />
                            </div>
                        </div>

                        {% for language in languages %}
                            {% if language.code !='en' %}
                                <div class="block-langue block-{{ language.code }}">
                                    <div class="form-group ">
                                        <div class="form-group ">
                                            <label for="name_{{ language.code }}">Name - {{ language.code }}</label>
                                            <input type="text" id="name_{{ language.code }}" name="{{ language.code }}[name]" maxlength="255" class="form-control" value="{% if translations[language.code] is defined %}{{ translations[language.code].name }}{% endif %}" />
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {{ form_widget(form._token) }}
                <button class="btn btn-success btn-lg"><i class="fa fa-check"></i> Valid</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block callback_popin %}

    <script type="text/javascript">
        function callBackAfterSubmit()
        {
            table.draw();
        }

        $('document').ready(function()
        {
            $('.block-langue').hide();
            $('#liste-language').change(function() {
                $('.block-langue').hide();
                $('.block-'+$(this).val()).show();
            });
            $('#liste-language option:eq(1)').prop('selected', 'selected').parent().change();
        });

    </script>

{% endblock %}