{% extends ajax
? 'TigreboiteFunkylabBundle::popin.html.twig'
: 'TigreboiteFunkylabBundle::layout.html.twig' %}

{% block content -%}



    <div class="modal-body">
    <div class="row">

    {% if is_granted('ROLE_SUPER_ADMIN') %}
    <form method="post" action="{% if app.request.get('_route') == "admin_user_edit" %}{{ path('admin_user_update',{'id':entity.id}) }}{% else %}{{ path('admin_user_create') }}{% endif %}" role="form" novalidate>
    {% else %}
    <form method="post" action="" role="form" novalidate disabled onsubmit="return false;">
    {% endif %}
        {% if app.request.get('_route') == "admin_user_edit" %}
            <input type="hidden" name="_method" value="PUT">
        {% endif %}

        <div role="tabpanel">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#profil" aria-controls="profil" role="tab" data-toggle="tab">Profile</a></li>
                <li><a href="#extras" aria-controls="extras" role="tab" data-toggle="tab">Extras</a></li>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                <li><a href="#roles" aria-controls="roles" role="tab" data-toggle="tab">Roles</a></li>
                {% endif %}
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="profil">
                    <div class="box box-primary">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="{{ form.civility.vars.id }}">{{ form_label(form.civility) }}</label>
                                {{ form_widget(form.civility) }}
                                {{ form_errors(form.civility) }}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.email.vars.id }}">{{ form_label(form.email) }}</label>
                                {{ form_widget(form.email) }}
                                {{ form_errors(form.email) }}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.lastname.vars.id }}">{{ form_label(form.lastname) }}</label>
                                {{ form_widget(form.lastname) }}
                                {{ form_errors(form.lastname) }}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.firstname.vars.id }}">{{ form_label(form.firstname) }}</label>
                                {{ form_widget(form.firstname) }}
                                {{ form_errors(form.firstname) }}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.plainpassword.vars.id }}">{{ form_label(form.plainpassword) }}</label>
                                {{ form_widget(form.plainpassword) }}
                                {{ form_errors(form.plainpassword) }}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.language.vars.id }}">{{ form_label(form.language) }}</label>
                                {{ form_widget(form.language) }}
                                {{ form_errors(form.language) }}
                            </div>
                        </div>
                    </div>
                </div>
                
                <div role="tabpanel" class="tab-pane" id="extras">
                    <div class="box box-primary">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="{{ form.dob.vars.id }}">{{ form_label(form.dob) }}</label>
                                {{ form_widget(form.dob) }}
                                {{ form_errors(form.dob) }}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.adresse.vars.id }}">{{ form_label(form.adresse) }}</label>
                                {{ form_widget(form.adresse) }}
                                {{ form_errors(form.adresse) }}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.adresse2.vars.id }}">{{ form_label(form.adresse2) }}</label>
                                {{ form_widget(form.adresse2) }}
                                {{ form_errors(form.adresse2) }}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.zipcode.vars.id }}">{{ form_label(form.zipcode) }}</label>
                                {{ form_widget(form.zipcode) }}
                                {{ form_errors(form.zipcode) }}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.city.vars.id }}">{{ form_label(form.city) }}</label>
                                {{ form_widget(form.city) }}
                                {{ form_errors(form.city) }}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.country.vars.id }}">{{ form_label(form.country) }}</label>
                                {{ form_widget(form.country) }}
                                {{ form_errors(form.country) }}
                            </div>
                        </div>
                    </div>
                </div>

                {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div role="tabpanel" class="tab-pane" id="roles">
                    <div class="box box-primary">
                        <div class="box-body">

                            <div class="form-group">
                                <label for="{{ form.roles.vars.id }}">{{ form_label(form.roles) }}</label>
                                {{ form_widget(form.roles) }}
                                {{ form_errors(form.roles) }}
                            </div>

                        </div>
                    </div>
                </div>
                {% endif %}

            </div>

        </div>
        {{ form_widget(form._token) }}
        {% if is_granted('ROLE_SUPER_ADMIN') %}

            <div class="modal-footer">
                <button class="btn btn-success btn-lg pull-left"><i class="fa fa-check"></i> Submit</button>
                <button type="button" class="btn btn-default  btn-lg" data-dismiss="modal">Cancel</button>
            </div>
        {% endif %}
    </form>
    </div>
    </div>
{% endblock %}

{% block callback_popin %}

    <script type="text/javascript">

        $('document').ready(function()
        {
            $('.date').datepicker({
                buttonImageOnly: true,
                changeMonth: true,
                changeYear: true,
                dateFormat: 'dd-mm-yy',
                yearRange: "-90:+1"
            });

            {% if is_granted('ROLE_SUPER_ADMIN')==false %}
            $('#modal-ajax input').attr("disabled","disabled");
            $('#modal-ajax select').attr("disabled","disabled");
            $('#modal-ajax textarea').attr("disabled","disabled");
            {% endif %}

        });


        function callBackAfterSubmit()
        {
            table.draw();
        }

    </script>

{% endblock %}